h1 {color: #fff; font-family: 'Oswald', sans-serif; font-size: 24px;}
        h3 {color: #fff; font-family: 'Poppins', sans-serif; font-size: 18px;}  
        p {color: #fff; font-family: 'Poppins', sans-serif; font-size: 16px;}
        body {
            background-color:#800000;
            padding: 20px;
            border-radius: 10px;
        }
        nav a {
            color: #000000;
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .hero {
            background-color: #800000;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }
        .quote {
            color: #fff;
            background-color: #800000;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }